<html>
    <head>
        <title>Todo</title>
        <script
                src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        <link rel="stylesheet" href="/assets/main.css" type="text/css">
    </head>
    <body>
        <h1>ToDo</h1>
        <form action="">
            <input type="text" name="item" placeholder="Task Here..">
            <button type="submit">ADD</button>
        </form>
        <ul>
            <% todo_data.forEach(function (x) { %>
                <li><%= x.item %></li>
            <% }); %>
        </ul>
    </body>
</html>
