<html>
    <head>
        <title>Todo</title>
        <link rel="stylesheet" href="/assets/main.css" type="text/css">
    </head>
    <body>
        <form action="">
            <input type="text" name="item" placeholder="Task Here..">
            <button type="submit">ADD</button>
        </form>
        <ul>
            <li>Item 1</li>
        </ul>
    </body>
</html>
